@media (max-width: 1200px)
  .container
    max-width: 960px
    padding: 0 15px
  .slider
    width: 570px
  .swiper
    &-slide
      &__img
        width: 100%
        height: 100%
        object-fit: cover
@media (max-width: 960px)
  .container, .newsletter-wrapper
    max-width: 730px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 48px
      margin-right: 73px
    &-menu
      padding: 20px 13px 22px 13px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input    
      padding-left: 23px
    &-menu
      padding-top: 25px
      padding-bottom: 25px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 56px
    &-grid
      flex-direction: column    
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
  .map
    width: 340px
  .slider
    width: 100%
  .newsletter
    &-wrapper
      width: 700px
    &-titele
      margin-top: 13px
@media ( max-width: 768px )
  .container
    max-width: 94%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      align-items: center
      width: 16px
      height: 11px
      padding: 0
      justify-content: space-between
      flex-direction: column
      border: none
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
        max-width:
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__reatting
        display: none
      &__offer
        order: -1
        margin: 0
  .stars
    flex-basis: auto
  .slider
    height: 350px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    height: 318px
    padding-top: 64px
    padding-bottom: 83px
    &-wrapper
      width: 320px
      flex-direction: column
      align-items: flex-start
      margin-left: 20px
    &-titele
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 44px
    &__subscribe
      width: 280px
.subscribe
  &__input
    padding-left: 20px

@media ( max-width: 560px)
  .container
    margin: 0
    padding: 0
    padding-left: 20px
  .navbar
    &-top
      padding-top: 22px
  .logo
    width: 99px
  .menu
    &-button
      margin-top: 7px
      margin-right: 0
  .hotel
    padding-top: 4px
    padding-bottom: 40px
    &-info
      padding-bottom: 38px
      &__description
        width: 280px
    &__slider
      margin-bottom: 20px
    &-right
      min-height: 405px
  .stars
    margin-right: 15px
  .slider
    height: 179px
    &-button
      width: 4px
      height: 7px
      &--next
        right: 10px
      &--prev
        left: 10px
  .map
    max-height: 172px
  .booking
    padding: 29px 22px 28px 22px
    &__start
      line-height: 18px
    &__pricetag
      line-height: 27px
    &__per-room
      line-height: 
    &__room
      margin-top: 6px
    &__call-center
      width: 232px
      
  
