.hotel
  padding-top: 18px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 22px
    &__name
      margin: 0
    &__description
      margin: 0
  &-name
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-description
    font-size: 12px
    line-height: 15px
.stars
  flex-basis: 100%
  &__star
    padding-right: 2px
.offer
  width: 70px
  height: 20px
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $primary
  color: $light
  border-radius: 3px
  margin-left: 14px
  margin-top: 0px
.ratting
  max-width: 65px
  min-height: 45px
  text-align: center
  background-color: $primary
  color: $light
  border-radius: 4px
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: bold
    font-size: 14px
    line-height: 18px
  &__five
    font-weight: bold
    font-size: 10px
    line-height: 13px
.swiper-container
  width: 100%
  height: 450px
  position: relative
  background-repeat: 8px
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    z-index: 20
.slider
  width: 728px
  &-button
    position: absolute
    top: 219px
    transform: translateY(-50%)
    z-index: 100
    width: 10px
    height: 17.5px
    border: none
    cursor: pointer
    background-repeat: no-repeat
    background-position: centre
    background-size: 10px
    background-color: transparent
    &--next
      right: 18px
      background-image: url(../img/slide/turn-right.svg)
    &--prev
      left: 16px
      background-image: url(../img/slide/turn-left.svg)
